/* Reset və Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout üçün Flex */
body>div {
    display: flex;
    flex-direction: row;
}

/* Sol və Sağ Reklam Sahələri */
.left,
.right {
    width: 170px;
    background-color: #5f00d0;
    color: white;
    text-align: center;
    /* padding: 20px 10px; */
    font-size: 16px;
    font-weight: bold;
    position: relative;
}


.left img {
    width: 100%;
    height: 100vh;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
}

.right img {
    width: 100%;
    height: 100vh;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
}

/* Ortadakı Məzmun Sahəsi */
.center {
    max-width: 1100px;
    flex: 1;
    /* margin: 0 20px; */
}

.rightCenterMenu {
    width: 280px;
}

/* Header */
header {
    flex: 1;
    padding: 5px 20px;
    border-bottom: 2px solid #00b140;
    position: relative;
    /* background: red; */
}

.headerClasster {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.socialIconsBase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}


.social-icons {
    margin-top: 0px !important;
    /* background: green; */
    /* padding: 0; */
    margin-top: -30px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    /* place-items: center; */
    /* align-content: center; */
    align-items: center;
    /* gap: 25px; */
    padding: 10px;
    width: 40px;
    /* margin-top: 0; */
    /* font-size: 55px; */
    /* background: gold; */
}







/* Logo */
.logoNavbar {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.logoNavbar a {
    text-decoration-line: none;
    color: #000;
}

.logoNavbar a span {
    color: #00b140;
}

/* Sosial ikonlar */
.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons i {
    font-size: 18px;
    cursor: pointer;
}

.inputAndClose {
    position: relative;
}





















































/* Layout Mərkəzləşdirmə */
.layout {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* padding: 20px; */
}


/* Pagination */
.pagination {
    text-align: center;
    margin: 15px 0;
}

.pagination span {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
}





/* News Cards (CSS GRID ilə) */
.news-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

/* Card Dizaynı */

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 5px solid #00bcd4;
    border-radius: 10px;
}



.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* .card-content {
    padding: 10px 0px;
    position: relative;
    height: 170px;
} */

.card h3 {
    word-break: break-all;
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #111;
    outline: none;
    margin-top: 4px;
    line-height: 1.5;
    padding: 0 12px;
    margin-bottom: 35px;
}

.centerCardCategory {
    background-color: transparent;
    color: #00bcd4;
    font-weight: 700;

    position: absolute;
    bottom: 5px;
    left: 13px;
}


.cardLink {
    text-decoration-line: none;
    color: #000;
}











/* Sidebar Cards */
.right-sidebar {
    margin-top: 20px;

}

/* .homeBlogCard {
    border: 1px solid red;
} */

.homeBlogCard:not(:first-child) {
    margin-top: 40px;
}


.homeRightSideHeader {
    background: #c4c4c48f;
    padding: 10px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
}

.right-sidebar h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

.sidebar-card {
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
}

.sidebar-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px 0px;
}

.sidebar-title {
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #111;
    outline: none;
    font-weight: bold;
    word-break: break-all;
}

.sidebar-meta {
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: gray;
    padding: 0px 0px;
}

.sidebar-meta i {
    margin-right: 4px;
}

.rightLink {
    cursor: pointer;
    text-decoration-line: none;
    color: #000;
}

















.regionContainer {
    padding: 20px, 0px;
    margin-bottom: 50px;
}

.aBlockWrap {
    /* display: flex; */
    /* gap: 20px; */
}

.bigPost {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
}

.BigPostImage {
    height: 150px;
    overflow: hidden;
}

.BigPostImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.bigPost a {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    text-decoration-line: none;
}

.aBlockTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

.aAllShow a {
    text-decoration-line: none;
    color: black;
}

.aAllShow a:hover {
    text-decoration-line: underline;
    color: black;
}



.BigPostInfo {
    margin-top: 10px;
}

.BigPostTitle {
    font-size: 1.2rem;

    color: black;
    font-weight: bold;
    margin-bottom: 5px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BigPostExtra {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: gray;
    margin-top: 15px;
}

.postCategory {
    color: #007bff;
}

/* 
.miniPost {
    display: flex;
}

.miniPost li a {
    display: flex;
    gap: 4px;
    text-decoration-line: none;
    color: black;

}

.miniPost ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.miniPost li {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 19px;
} */


/* .mPostImage {
    width: 100px;
    height: 70px;
} */
/* 
.mPostImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.mPostInfo {
    flex: 1;
} */

/* .mPostTitle {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mPostExtra {
    font-size: 0.85rem;
    color: gray;
    margin-top: 30px;
    float: right;
} */



@media (max-width: 1520px) and (min-width: 1360px) {
    .bigPost {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 4fr));
        gap: 20px;
    }
}

@media (max-width: 1360px) and (min-width: 1310px) {
    .bigPost {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
        gap: 20px;
    }
}

@media (max-width: 1313px) and (min-width: 1290px) {
    .bigPost {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 4fr));
        gap: 20px;
    }
}

@media (max-width: 1167px) {
    .bigPost {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
        gap: 20px;
    }
}


@media (max-width: 775px) {
    .bigPost {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 3fr));
        gap: 20px;
    }
}




@media (max-width: 768px) {
    .BigPostImage {
        height: 180px;
    }

    .aBlockWrap {
        display: flex;
        flex-direction: column;
    }

    .miniPost ul {
        width: 100%;
    }
}





































.news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
}

.news-card {
    margin-top: 10px;
}

.news-card p {
    margin: 0;
    font-size: 14px;
}



















/* ===================== RESPONSIVE ===================== */

@media (max-width: 1290px) {

    .left,
    .right {
        display: none;
    }
}

@media (max-width: 1130px) {
    .navList {
        /* background-color: red; */
        gap: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .left,
    .right {
        width: 120px;
    }

    .center {
        margin: 0 0px;
    }

    .news-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .navList {
        gap: 25px;
    }
}



@media (max-width: 1000px) and (min-width: 930px) {
    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        cursor: pointer;
        height: auto;
        min-height: 100%;
    }

    .card img {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }

    .card-content {
        padding: 10px 0px;
    }

    .card-content h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .card-content .category {
        font-size: 14px;
        color: #00b140;
    }

}

@media (max-width: 930px) {
    .layout {
        display: flex;
        flex-direction: column;
    }

    .rightCenterMenu {
        width: 100%;
    }

    .right-sidebar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .homeBlogCard:not(:first-child) {
        margin-top: 0;
    }


}



@media (max-width: 768px) {
    body>div {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    header {
        padding: 0px 20px;
    }

    /* .layout {
        flex-direction: column;
    } */

    .center {
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    /* .sidebar-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar-card img {
        width: 100%;
        height: auto;
    } */

    .social-icons {
        display: none;
    }

    .news-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width:720px) {
    .navList {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }
}


@media (max-width:650px) {
    .news-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        width: 100%;
    }
}

@media (max-width:540px) {
    .news-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* max-width: 956px; */
    }

    .prevBtn,
    .nextBtn {
        position: absolute;
        top: 40%;

    }
}

@media (max-width:400px) {
    .card {
        min-height: 100%;
    }

    .news-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 6px;
    }

    .card img {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }

    .sidebar-title {
        font-size: 15px;
    }


}

@media (max-width:357px) {
    .sidebar-meta {
        font-size: 13px;
    }

}

@media (max-width:337px) {
    .sidebar-meta {
        font-size: 11px;
    }

}

@media (max-width:316px) {
    .sidebar-meta {
        font-size: 11px;
    }
}